
body {
    background: url(/Img/background2.jpg) no-repeat center center/cover;
    color: #dadada;
    background-color: #0e1c24;
    margin-top: 0;
    margin-bottom: 0;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.608);
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;

}
.logo span {
    color: lightblue;
}
.logo img{
    width:20%;
}
.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

.menu li {
    margin: 0 15px;
    display: flex;
}
.menu li a {
    color: #dadada;
    text-decoration: none;
    transition: 0.3s;
    padding: 5px 10px;
    text-align: center;
}
#font-main{
    color: lightblue;
    border-bottom: 1px;
    border-bottom-style: solid ;  
    border-color: #ffffff;  
}
.menu li a:hover {
    color:lightblue;
    border-bottom-style: solid ;  
    border-color: #ffffff;  
    border-width: 1px;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-menu {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #dadada;
    padding: 5px;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: #162630;
    width: 165px;
    text-align: left;
    box-sizing: border-box;
}
.dropdown-content li {
    left: 0;
    list-style: none;
}
.dropdown-content a {
    margin: 0 25px 0 0;
    color: #dadada;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #3a4d54;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#button-logout{
    color: rgba(255, 255, 255, 0.9);
    margin-left: 15px;
    /* margin-bottom: 10px; */
    border: none;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px rgba(7, 7, 7, 0.6);
    background-color: rgba(255, 0, 0, 0.529);
    border-radius: 10px;
}

#auth-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: #07120E; /* Màu nền tối */
    color: #dadada;
    padding: 40px 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 180px;
    margin-bottom: 20px;
}

.logo-section h2 {
    font-size: 22px;
    font-weight: bold;
}

.logo-section p {
    font-size: 14px;
    color: #B0B0B0;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #B0B0B0;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.social-icons a {
    font-size: 20px;
    color: #dadada;
    margin-right: 15px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #B0B0B0;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .tour-info {
        display: none;
    }
    .dropdown {
        display: block;
    }
    .div__products {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        justify-content: center;
        gap:20px;
        padding: 3%;
        row-gap: 30px;
    }
    
    .product img {
        border-radius: 8px;
        width: 100%;
        height: 150px;
    }
    .product h3 {
        font-size:2.8vw;
        color: #dadada;
    }
    .product p {
        float:right;
        /* color: #07120E; */
        font-size:2vw;
    }
    .buy {
        white-space: nowrap;
        font-size:2.5vw;
        font-weight: bold;
        text-decoration: none;
        color:#dadada;
    }
}
@media (max-width: 420px) {
    .tour-info {
        display: none;
    }
    .div__products {
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        justify-content: center;
        gap:25px;
        padding: 3%;
    }
    .product img {
        border-radius: 8px;
        width: 100%;
        height: 150px;
    }
    .product h3 {
        font-size:3vw;
        color: #dadada;
    }
    .product p {
        float:right;
        /* color: #07120E; */
        font-size:2.2vw;
    }
    .buy {
        white-space: nowrap;
        font-size:2.5vw;
        font-weight: bold;
        text-decoration: none;
        color:#dadada;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-section {
        text-align: center;
    }
    .social-icons {
        display: flex;
        justify-content: center;
    }
    .review img {
        display: none;
    }
    .review {
        column-count: 1;
        text-align: center;
        padding: 30px 70px 30px 70px;
    }
}