*{
  color: black;
}
.petrona-font {
    font-family: "Petrona", serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: normal;
  }

body{
    font-family: "Petrona", Open Sans, sans-serif;
    
}


/* .item__title>.item__description{
  display: none;   
} */

