
body {
  font-family: "Petrona", sans-serif;
  font-size: 18px;
  /* background-color: #0e1c24; */
  background: url(/Img/background2.jpg) no-repeat center center/cover; /* Từ file after */
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 100px;
  box-sizing: border-box; 
}

@media (max-width: 768px) {
  body {
    padding-top: 200px; /* Đẩy nội dung xuống xa hơn khi header xếp dọc */
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.logo span {
  color: lightblue;
}
.logo img {
  width: 50px;
  margin-left: 10px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
}
.menu li {
  margin: 0 15px;
}
.menu li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 5px 10px;
}
.menu li a:hover {
  color: lightblue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  padding: 20px 30px;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  background-color: rgba(180, 180, 180, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
  backdrop-filter: blur(5px);
}

form h3 {
  font-size: 1.25em;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

form input {
  
  font-size: 1em;
  color: #ffffff;
  width: 93%;
  padding: 10px;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 40px rgba(7, 7, 7, 0.6);
  background-color: rgba(196, 196, 196, 0.13);
  /* margin-right: 40px; */
}

form button {
  width: 98%;
  padding: 10px;
  background: #28a745; 
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 0.9em;
}

form button:hover {
  background: #218838;
  transform: scale3d(1.02, 1.02, 1.02);
  transition: 0.3s;
}

.social-icons {
  margin-left: 25%;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.social-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

.social-icons img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.register-link {
  font-size: 1em;
  font-weight: 200;
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
}

.register-link:hover {
  text-decoration: underline;
  color: #07120E;
}

