* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url(/Img/trangchu/background.jpeg) no-repeat center center/cover;
    height: 100vh;
    color: #dadada;
    background-color: #0e1c24;
}

header {
    /* position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.5);
    align-items: center; */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.5);
    align-items: center;
    box-sizing: border-box;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}
.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;

}
.logo span {
    color: lightblue;
}
.logo img{
    width:20%;
}
.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}
.menu li a {
    color: #dadada;
    text-decoration: none;
    transition: 0.3s;
    padding: 5px 10px;
}
#font-main {
    color: lightblue;
    border-bottom: 1px;
    border-bottom-style: solid ;  
    border-color: #ffffff;  
}
.menu li a:hover {
    color:lightblue;
    border-bottom-style: solid ;  
    border-color: #ffffff;  
    border-width: 1px;
}


.dropdown {
    position: relative;
    display: none;
}

.dropdown-menu {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #dadada;
    padding: 5px;
    /* left: 0; */
    /* margin-left: 0; */
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background: #162630;
    width: 165px;
    text-align: left;
    box-sizing: border-box;
}
.dropdown-content li {
    left: 0;
    list-style: none;
}
.dropdown-content a {
    /* left: 0; */
    margin: 0 25px 0 0;
    color: #dadada;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.dropdown-content a:hover {
    background-color: #3a4d54;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*
.search {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 5px;
    padding: 3px;
    flex-wrap: nowrap;
}
.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    width: 120px;
}
.search button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px;
}
*/
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: left;
    animation: fadeIn 2s;
    margin: 2%;
}
.content {
    width: 500px;
    font-size: 38px;
    transform:translateY(-40%);
}
.content h1 {
    font-family: 'Playfair Display',serif;
}

.div__products {
    margin:20px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-items: center;
    gap:3vw;
    padding: 4%;
    row-gap: 4vw;
}
.product {
    width: 90%;
    border-radius: 8px;
    /* border: 1px solid #436CA4; */
    box-sizing: border-box;
    background-color:#3a4d54f5;
}
.product:hover {
    border: 1px solid #436CA4;
}
.product img {
    border-radius: 8px;
    width: 100%;
    height: 200px;
}
.product h3 {
    font-size:2vw;
    color: #dadada;
}
.product p {
    float:right;
    /* color: #07120E; */
    font-size:1.8vw;
}
.buy {
    
    white-space: nowrap;
    font-size:2.2vw;
    font-weight: bold;
    text-decoration: none;
    color:#dadada;
}
.desc {
    padding: 15px;
    text-align:center;
}

/* review */
.review {
    column-count: 2;
    padding: 50px;
}
.review a {
    flex-shrink: 0;
}
.review  img {
    width:70%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.review h2 {
    font-size: 4vw;
    /* color:#07120E; */
    padding: 10px;
    text-align: center;
}
.review h2:hover {
    transform: skew(25deg);
    background: linear-gradient(to right, #000080, #00FFFF);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.review p {
    /* color:#07120E; */
    font-size: 2.5vw;
}
/* .review div{
    
} */
footer {
    background-color: #07120E; /* Màu nền tối */
    color: #dadada;
    padding: 40px 80px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 180px;
    margin-bottom: 20px;
}

.logo-section h2 {
    font-size: 22px;
    font-weight: bold;
}

.logo-section p {
    font-size: 14px;
    color: #B0B0B0;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #B0B0B0;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.social-icons a {
    font-size: 20px;
    color: #dadada;
    margin-right: 15px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #B0B0B0;
}

/* Responsive */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media (max-width: 768px) {
    .menu {
        display: none;
    }
    .tour-info {
        display: none;
    }
    .dropdown {
        display: block;
    }
    .div__products {
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        justify-content: center;
        gap:20px;
        padding: 3%;
        row-gap: 30px;
    }
    
    .product img {
        border-radius: 8px;
        width: 100%;
        height: 150px;
    }
    .product h3 {
        font-size:2.8vw;
        color: #dadada;
    }
    .product p {
        float:right;
        /* color: #07120E; */
        font-size:2vw;
    }
    .buy {
        white-space: nowrap;
        font-size:2.5vw;
        font-weight: bold;
        text-decoration: none;
        color:#dadada;
    }
}
@media (max-width: 420px) {
    .tour-info {
        display: none;
    }
    .div__products {
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        justify-content: center;
        gap:25px;
        padding: 3%;
    }
    .product img {
        border-radius: 8px;
        width: 100%;
        height: 150px;
    }
    .product h3 {
        font-size:3vw;
        color: #dadada;
    }
    .product p {
        float:right;
        /* color: #07120E; */
        font-size:2.2vw;
    }
    .buy {
        white-space: nowrap;
        font-size:2.5vw;
        font-weight: bold;
        text-decoration: none;
        color:#dadada;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-section {
        text-align: center;
    }
    .social-icons {
        display: flex;
        justify-content: center;
    }
    .review img {
        display: none;
    }
    .review {
        column-count: 1;
        text-align: center;
        padding: 30px 70px 30px 70px;
    }
}
.tour-info {
    text-align: center;
    background: rgba(255, 255, 255, 0.425);
    padding: 20px;
    border-radius: 10px;
    transform: translate(200%,53%);
    color:#010a17;
}
.circle-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    background: url("/Img/Phu_Quoc/tour-cano-dao-phu-quoc-rooty-trip-14-01-1024x683.jpg") no-repeat center center/cover;
    border-radius: 50%;
    margin: 0 auto 10px10px;
}
